
.title-logo {
	font-size: 1em;
	font-weight: 700;
}

.margin-title-logo {
	margin-top: 1.5em;
}

.margin-search {
	margin-top: .5em;
}

.margin-search input {
	margin-bottom: 0;
}

.margin-botton {
	margin-bottom: 0;
}

.margin-boton-search {
	margin-top: 1em;
}

.padding-top-nav {
	padding-top: 1em;
}

.padding-remove {
	padding: 0 !important;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: fixed;
	z-index: 100;
}

.position-abs {
	position: absolute !important;
}

.display-block {
	display: block !important;
}

.background-color-nav {
	background-color: #FFF;
	width: 100%;
}

.height-vh {
	height: 100vh;
}

.align-vertical-horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-vertical {
	display: flex;
	align-items: center;
}

.tamano-image {
	width: 100% !important;
}

.option {
	color: #4ACA74 !important;
	font-weight: 700;
}

.option:hover {
	color: #FFF !important;
}

.option-active {
	background-color: #4ACA74;
	color: #FFF !important;
}

.option-color-active {
	color: #FFF !important;	
}

.option-1:hover {
	background-color: #4ACA74;
}

.option-2:hover {
	background-color: #4ACA74;
}

.option-3:hover {
	background-color: #4ACA74;
}

.option-4:hover {
	background-color: #4ACA74;
}

.option-5:hover {
	background-color: #4ACA74;
}

.tamano-image-center {
	width: 40em;
}

.padding-top-center {
	margin-top: 5em;
}

.center-horizontal {
	display: flex;
	justify-content: center;
}

.circle img {
	padding: 1.5em;
}

.margin-top-menu-1 {
	margin-top: 10em;
}

.margin-top-menu-2 {
	margin-top: 5em;
}

.margin-top-menu-3 {
	margin-top: 1em;
}

.fondo-noticia {
	width: 100%;
	background-color: #000;
}

.max-altura {
	max-height: 22em;
	overflow: hidden;
}

.max-altura-col {
	max-height: 11em;
	overflow: hidden;	
}

.max-altura-bottom {
	max-height: 15em;
	overflow: hidden;
}

.padding-left {
	padding-left: 0 !important; 
}

.position-absolute-2 {
	position: absolute;
	bottom: 0;
	z-index: 1010;
}

.padding-right {
	padding-right: 0;
}

.text-area {
	width: 100%;
	border: none;
}

textarea {
	padding:0 !important; 
	margin-bottom: 0 !important;
}

.margin-botton {
	margin-bottom: 0;
}

.volcado {
	transform-style: preserve-3d;
	transition: all 1s linear;
	transform: rotateY(360deg);
}

.inverso {
	transform-style: preserve-3d;
	transition: all 1s linear;
	transform: rotateY(360deg);
}

.iframe-map {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

.altura {
	z-index: 1010;
}

.custom-circle {
	width: 100% !important; 
	left:0 !important; 
	top:0 !important; 
	padding: 0 !important;
}

.margin-left-right {
	margin-left: 2em !important;
	margin-right: 2em !important;
}

.opacity {
	opacity: .8;
}

.padding-right {
	padding-right: 0 !important;
}

.height-up {
	max-height: 70vh;
}

.height-down {
	max-height: 30vh;
}

.padding-align {
	padding-top: 10em;
}

.height-up-all {
	max-height: 50vh !important;
}

.height-down-all {
	max-height: 100vh !important;
}

.modal {
	margin-top: 7em;
	width: 90%;
}

.width-full {
	width: 100%;	
}

.heigth-full {
	height: 100%;
}

.margin-bottom {
	margin-bottom: 0;
}

.margin-top {
	margin-top: 0;
}

.margin-right {
	margin-right: 0;
}

.margin-top-all {
	margin-top: 30vh !important;
}

.margin-top-all-exec {
	margin-top: 25vh !important;
}

.margin-top-all-exec-ex {
	margin-top: 22vh !important;
}

.btn-salir-modal {
	color: #000 !important;
	font-size: 2em; right:0 !important;
}

#idnoticias .parallax {
	z-index: 1010;
}

.text-justify {
	text-align: justify;
}

.back-background {
	background-color: #CCC;
}

.height-up-scroll {
	height: 5vh;
}

.position-back {
	bottom: 0 !important;
}

.align-more {
	top: -20vh;
}

.align-circle {
	width: 100% !important;
	margin-right:0; 
	padding:0; 
	display:flex; 
	justify-content:center; 
}

.align-mp {
	margin:0 !important; 
	padding:0 !important;
	background: none !important;
}

.height-banner {
	max-height: 15em !important;
	overflow: hidden;
}

.tamano-icons-estadistica {
	width: 6em;
	padding: 5px;
}

.tamano-logo-gobernacion {
	width: 20em;
}

.padding-p {
	padding: 8px;
}

.altura-estadistica {
	height: 80vh !important;
	overflow: scroll !important;
	overflow-x: hidden !important;
	padding: 0 !important;
}

.altura-estadistica-up {
	height: 40vh !important;
	overflow: hidden !important;
}

.altura-estadistica-middle {
	height: 20vh !important;
	overflow: hidden !important;
}

.altura-estaditica-down {
	height: 40vh !important;
	overflow: hidden !important;
}

.altura-estadistica-down-total {
	height: 55vh !important;
	overflow: hidden !important;
}

.altura-up-porcion {
	height: 20vh !important;
	overflow: hidden !important;
}

.altura-down-porcion {
	height: 20vh !important;
	overflow: hidden !important;
}

.background-somos {
	background: url('../image/background.png') no-repeat;
	background-size: cover;
}

.background-up {
	background-color: #4ACA74 !important;
	height: 4em !important;
}

.align-datahub {
	top: -8vh !important;	
}

.custom-option {
	padding: 0 !important;
	margin: 0 !important;
}

.color-up {
	color:#FFF;
}

.custom-box {
	padding: 0 !important;
	margin: 0 !important;
}

.margin-top-btn {
	margin-top: 1em;
}

.background-close {
	height: 40px !important;
	width: 40px !important;
	border-radius: 20px !important;
	background-color: #808080 !important;
}

.design-btn {
	color: #FFF !important;	
	font-weight: 700 !important;
}

.center-text {
	text-align: center;
}
