
.title-logo {
	font-size: 1em;
	font-weight: 700;
}

.margin-title-logo {
	margin-top: 1.5em;
}

.margin-search {
	margin-top: .5em;
}

.margin-search input {
	margin-bottom: 0;
}

.margin-botton {
	margin-bottom: 0;
}

.margin-boton-search {
	margin-top: 1em !important;
}

.padding-remove {
	padding: 0 !important;
}

.position-relative {
	position: relative !important;
}

.position-fixed {
	position: fixed; 
}

.position-absolute {
	position: fixed;
	z-index: 100;
}

.position-abs {
	position: absolute !important;
}

.display-block {
	display: block !important;
}

.background-color-nav {
	background-color: #FFF;
	width: 100%;
}

.height-vh {
	height: 100vh !important;
}

.align-vertical-horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-center-icon {
	display: flex;
	justify-content: center;
}

.align-vertical {
	display: flex;
	align-items: center;
}

.tamano-image {
	width: 100% !important;
}

.option {
	color: #4ACA74 !important;
	font-weight: 700 !important;
}

.option:hover {
	color: #FFF !important;
}

.option-active {
	background-color: #4ACA74;
	color: #FFF !important;
}

.option-color-active {
	color: #FFF !important;	
}

.option-1:hover {
	background-color: #4ACA74;
}

.option-2:hover {
	background-color: #4ACA74;
}

.option-3:hover {
	background-color: #4ACA74;
}

.option-4:hover {
	background-color: #4ACA74;
}

.option-5:hover {
	background-color: #4ACA74;
}

.tamano-image-center {
	width: 40em;
}

.padding-top-center {
	margin-top: 5em;
}

.center-horizontal {
	display: flex;
	justify-content: center;
}

.circle img {
	padding: 1.5em;
}

.margin-top-menu-1 {
	margin-top: 12em;
}

.margin-top-menu-2 {
	margin-top: 6em;
}

.margin-top-menu-3 {
	margin-top: 1em;
}

.fondo-noticia {
	width: 100% !important;
	background-color: #000;
}

/* Section noticias */

.max-altura {
	max-height: 65vh !important;
	overflow: hidden;
}

.max-altura-col {
	max-height: 65vh !important; 
	overflow: hidden;	
}

.max-altura-col-up {
	max-height: 33vh !important; 
	overflow: hidden;	
}

.max-altura-col-down {
	max-height: 32vh !important; 
	overflow: hidden;	
}

.max-altura-bottom {
	max-height: 35vh !important;
	overflow: hidden;
}

.max-altura-bottom-left {
	max-height: 35vh !important;
	overflow: hidden;
}

.max-altura-bottom-center {
	max-height: 35vh !important;
	overflow: hidden;
}

.max-altura-bottom-right {
	max-height: 35vh !important;
	overflow: hidden;
}


/* End Section noticias */

.padding-left {
	padding-left: 0 !important; 
}

.position-absolute-2 {
	position: absolute;
	bottom: 0;
	z-index: 1010;
}

.padding-right {
	padding-right: 0;
}

.text-area {
	width: 100%;
	border: none;
}

textarea {
	padding:0 !important; 
	margin-bottom: 0 !important;
}

.margin-botton {
	margin-bottom: 0;
}

.volcado {
	transform-style: preserve-3d;
	transition: all 1s linear;
	transform: rotateY(360deg);
}

.inverso {
	transform-style: preserve-3d;
	transition: all 1s linear;
	transform: rotateY(360deg);
}

.iframe-map {
	width: 100%;
	height: 100vh;
	border: none;
	display: block;
}

.altura {
	z-index: 1010;
}

.custom-circle {
	width: 100% !important; 
	left:0 !important; 
	top:0 !important;
	padding: 0 !important;
}

.margin-left-right {
	margin-left: 2em !important;
	margin-right: 2em !important;
}

.opacity {
	opacity: .8;
}

.padding-right {
	padding-right: 0 !important;
}

.height-up {
	max-height: 100vh;
}

.height-down {
	max-height: 35vh;
}

.padding-align {
	padding-top: 10em;
}

.height-up-all {
	max-height: 60vh !important;
}

.height-down-all {
	max-height: 100vh !important;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90% !important;
}

.width-full {
	width: 100%;	
}

.heigth-full {
	height: 100%;
}

.margin-bottom {
	margin-bottom: 0;
}

.margin-top {
	margin-top: 0 !important;
}

.margin-right {
	margin-right: 0;
}

.margin-top-all {
	margin-top: 30vh !important;
}

.margin-top-all-ex {
	margin-top: 30vh !important;
}

.margin-top-all-exec {
	margin-top: 25vh !important;
}

.margin-top-all-exec-ex {
	margin-top: 22vh !important;
}

#idnoticias .parallax {
	z-index: 1010;
}

.text-justify {
	text-align: justify;
}

.back-background {
	background-color: #CCC;
}

.height-up-scroll {
	height: 5vh;
}

.position-back {
	bottom: 0 !important;
}

.align-more {
	top: -20vh;
}

.align-circle {
	width: 100% !important;
	margin-right:0; 
	padding:0; 
	display:flex; 
	justify-content:center; 
}

.align-mp {
	margin:0 !important; 
	padding:0 !important;
	background: none !important;
}

.height-banner {
	max-height: 25em !important;
	overflow: hidden;
}

.tamano-icons-estadistica {
	width: 3em;
	padding: 5px;
}

.tamano-logo-gobernacion {
	width: 10em;
}

.padding-p {
	padding: 8px;
}





.altura-estadistica {
	height: 100vh !important;
	overflow: scroll !important;
	padding: 0 !important;
}

.altura-estadistica-up {
	height: 50vh !important;
}

.altura-estadistica-middle {
	height: 25vh !important;
}

.altura-estaditica-down {
	height: 40vh !important;
}

.altura-estadistica-down-total {
	height: 50vh !important;
}

.altura-up-porcion {
	height: 25vh !important;
}

.altura-down-porcion {
	height: 25vh !important;
}

.padding-top-estadisticas-option {
	padding-top: 2.5em !important;
}






.background-somos {
	background: url('../image/background.png') no-repeat;
	background-size: cover;
}

.background-up {
	background-color: #4ACA74 !important;
	height: 4em !important;
}

.align-datahub {
	top: -8vh !important;	
}

.custom-option {
	padding: 0 !important;
	margin: 0 !important;
}

.color-up {
	color:#FFF;
}

.custom-box {
	padding: 0 !important;
	margin: 0 !important;
}

.margin-top-btn {
	margin-top: 1em;
}

.background-close {
	height: 40px !important;
	width: 40px !important;
	border-radius: 20px !important;
	background-color: #808080 !important;
}

.design-btn {
	color: #FFF !important;	
	font-weight: 700 !important;
	font-size: 2em; right:0 !important;
}

.center-text {
	text-align: center;
}

.width-option-menu {
	width: 100%;
	padding: 0;
	margin: 0;
}

.hover-option:hover {
	background-color: none !important;
}

.hover-option a:hover {
	background-color: none !important;
}


@media only screen and (max-width : 480px) { 

	.margin-top-menu-1 {
		margin-top: 0;
	}

	.margin-top-menu-2 {
		margin-top: 0;
	}

	.margin-top-menu-3 {
		margin-top: 0;
	}

	.align-image-modal {
		height: 40vh !important;
		overflow: hidden;
	}

	.max-altura {
		max-height: 50vh !important;
		overflow: hidden;
	}

	.max-altura-bottom {
		max-height: 50vh !important;
		overflow: hidden;
	}

	.max-altura-col-up {
		max-height: 17vh !important;
		overflow: hidden;
	}

	.max-altura-col-down {
		max-height: 16vh !important;
		overflow: hidden;
	}

	.max-altura-col-right {
		max-height: 17vh !important;
		overflow: hidden;
	}

	.max-altura-bottom-left {
		max-height: 17vh !important;
		overflow: hidden;
	}

	.max-altura-bottom-center {
		max-height: 16vh !important;
		overflow: hidden;
	}

	.max-altura-botton-right {
		max-height: 17vh !important;
		overflow: hidden;
	}

	.padding-top-noticia {
		padding-top: 3em !important;
	}

	.text-style-noticia {
		top:0; 
		left:0; 
		color:#FFF; 
		padding-left: .5em;
		font-weight:700; 
		font-size: 1em !important;
	}

	.margin-bottom-noticia-clean {
		margin-bottom: 0 !important;
	}

	.text-style-noticia-exec {
		font-size: 1em !important;
	}

	.align-more {
		top: -7vh !important;
	}

	.position-align {
		top: 0 !important;
	}

	.color-icon-back {
		font-size: 1.5em !important;
	}

	.background-btn-back {
	    background-color: #31AA75;
	    color: #FFF !important;
	    padding-left: 1em;
	    padding-right: 2em;
	    height: 2em !important;
	    width: 5em !important;
	}
}

.padding-top-nav {
	padding-top: 1em;
}

.altura-menu-container {
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.padding-left-em {
	padding-left: 3em !important;
}

.padding-right-em {
	padding-right: 3em !important;
}

.elevacion-option {
	z-index: 2020 !important;
}

.black-text {
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	font-weight: 700;
}

.ir-arriba {
	display:none;
	padding:10px;
	background:#4ACA74;
	font-size:30px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 1010;
}

.height-vh-other {
	height: 95vh !important;
}

.margin-top-other {
	margin-top: 15vh !important;
}

.text-style-noticia {
	bottom:0; 
	right:0; 
	color:#FFF; 
	font-weight:700; 
	font-size:2em;
}

.text-style-noticia-exec {
	top:0; 
	left:0; 
	padding-left: .5em;
	color:#FFF; 
	font-weight:700; 
	font-size:2em;	

}

.h5-bold {
	color: #999999 !important;
	font-weight: 700 !important;
}

.padding-top-noticia {
	padding-top: 3em !important;
}

.padding-top-datahub {
	padding-top: 2em !important;
}

.padding-contacto {
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

.padding-top-estadisticas {
	padding-top: 7em !important;
}

.shadow-nav {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
}

::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

::-webkit-scrollbar-track {
	background: #B8C0C8;
}

body {
	font-family: 'Ubuntu', sans-serif !important;
	scrollbar-face-color: #000;
	scrollbar-track-color: #B8C0C8;
}

.tamano-icon-back {
	z-index: 2020;
	font-weight: 700;
}

.position-align {
	top: 7em;
}

.background-btn-back {
    background-color: #31AA75;
    color: #FFF !important;
    padding-right: 2em;
    height: 4em;
    width: 10em;
}

.align-image-modal {
	height: 60vh !important;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.padding-right-noticia {
	padding-right: .7em;
}

.text-style-estadistica-exec {
	top: 1.5em;
	left:0; 
	color: #000; 
	padding-left: 1em;
	font-weight: 700; 
	font-size: 2em !important;
}

.tamano-image-logo {
	width: 40% !important;
}

.padding-left-right-carousel {
	padding-left: 2em;
	padding-right: 2em;
}

.text-style-carousel-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em !important;
	font-weight: 700 !important;
	color: #31AA75 !important;
}

.text-style-carousel {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em !important;
	font-weight: 700 !important;
}

.margin-bottom-carousel {
	margin-bottom: 0 !important;
}

/*.filter-blur {
	-webkit-filter: blur(0px) !important;
}*/